* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}
html {
  height: 100%;
  width: 100%;
}


/*Pages*/
.Apply{
 background-color: #f9f1f1;
}
.Home{
  background-color: #f9f1f1;
}
.Donate{
  background-color: #f9f1f1;
}
/*image*/ 


/* Nav Bar */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.nav-container {
  max-width: 2070px;
  margin: 0 auto;
  background-color: #fcd9dc;
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  height: 100%;
  padding: 20px;
  background: linear-gradient(to right,#db7c87, #efb0b7, #db7c87);
  
}

.logo {
  display: flex;
  align-items: center;
}

.icon img{
  max-height: 300px;
  margin-right: 70px;
}

.nav-menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  color: 	white;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  transition: all 0.3s ease;
  
}

.nav-link:hover {
  background-color: #DB7F8E;
  color: #FFF;
}

.logo img {
  max-height: 60px;
  margin-right: 20px;
}
  
/*TRANG PAGE CSS*/
.welcome-container {
  padding: 100px 0px 100px;
  margin-top: 50px; 
  width: 100%
}
.Welcome {
  display: flex;
  align-items: center;
}
.Welcome h2 {
  padding: 30px 20px 20px;
  font-family: 'Montserrat', sans-serif;font-size: 25px;
  text-align: left;
  line-height: 1.5;
  color: #333;
}
.Welcome h3{
  font-family: 'Montserrat', sans-serif;font-size: 27px;
  text-align: left;
  margin: 50px 30px;
  line-height: 1.5;
  color: #957DAD;
}
.Welcome p {
  padding: 30px 10px 20px;
  font-family: 'Montserrat', sans-serif;font-size: 25px;
  text-align: left;
  line-height: 1.5;
  color: #333;
}
.Welcome li {
  padding: 10px 10px 10px;
  font-family: 'Montserrat', sans-serif;font-size: 25px;
  text-align: left;
  line-height: 1.5;
  color: #333;
}

/* NINA CREATORS PAGE*/

.creators{
  padding: 10px 20px 20px;
  display: inline-flex;
  font-family: 'Montserrat', sans-serif;font-size: 25px;
  text-align: center;
  line-height: 1.5;
  color: #333;
}
.creators h1{
  padding: 10px 10px 10px;
  font-family: 'Montserrat', sans-serif;font-size: 30px;
  text-align: left;
  line-height: 1.5;
  color: #333;
}

.creators p2{
  padding: 10px 10px 10px;
  font-family: 'Montserrat', sans-serif;font-size: 25px;
  text-align: left;
  line-height: 1.5;
  color: #333;
}

.photo img{
  max-height: 280px;
  margin-right: 60px;
}
/*home css*/
.home-container {
  width: 100%;
  padding: 100px 0px 100px;
  margin-top: 50px; 
}
.Information {
  display: flex;
  align-items: center;
}
.Information #cute_Bear {
  padding: 30px 20px 20px;
    margin-right: 20px; 
    max-width: 200px; 
}
.Information #cute_Bunny {
  padding: 30px 0px 20px;
    margin-left: 0px; 
    max-width: 250px; 
}
.Information h2 {
  padding: 40px 20px 20px;
  font-family: 'Montserrat', sans-serif;font-size: 25px;
  text-align: left;
  line-height: 1.5;
  color: #333;
}
.Information p {
  padding: 10px 40px 20px;
  font-family: 'Montserrat', sans-serif;font-size: 25px;
  text-align: left;
  line-height: 1.5;
  color: #333;
}

.Information li {
  padding: 10px 10px 10px;
  font-family: 'Montserrat', sans-serif;font-size: 25px;
  text-align: left;
  line-height: 1.5;
  color: #333;
}

.SquareLogo {
  width: 200px;
  margin: 100px auto 0;
  margin-left: 50px;
  display: block;
}
.squareLogo-container { 
  max-width: 2070px;
  height: 100px;
  text-align: center;
  background-color: #ff8fab;
  padding: 20px;
}

.quote {
  display: inline-flexblock;
  padding: 0px, 0px, 0px;
  color: white;
  font-family: 'Montserrat', sans-serif;font-size: 30px;
}

/*
.squarePic-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  &__image {
    max-width: 50px;
    max-height: 28px;
  }
  &__text {
    max-width: 1500px;
  }
}
.Welcome {
  display: flex;
  align-items: center;
}
.Welcome h2 {
  padding: 30px 20px 20px;
  font-family: 'Montserrat', sans-serif;font-size: 25px;
  text-align: left;
  line-height: 1.5;
  color: #333;
}
.Welcome h3{
  font-family: 'Montserrat', sans-serif;font-size: 27px;
  text-align: left;
  margin: 50px 30px;
  line-height: 1.5;
  color: #957DAD;
}
*/
/*Table*/
table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
  margin-top: 50px;
}
 th {
  font-weight: bold;
  border: 1px solid black;
  padding: 10px;
}

td {
  border: 1px solid black;
  padding: 10px;
}

.ApplyLink{
  font-family: 'Montserrat', sans-serif;font-size: 50px;
  text-align: center;
  line-height: 1.5;
  text-decoration: none;
  font-size: 27px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
  transition: all 0.3s ease;
}
.images{
  display: block;
  margin: auto;
  width: 50%;
  padding-bottom: 20px;
}

  /* CSS */
a.button {
    background-color: #ff8fab;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    left: 130px;
    top: 10px;  
    margin: 0px;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button:hover,
  .button:focus {
    background-color: #F082AC;
}

@media only screen and (max-width: 1000px) {
  .nav-container {
    flex-direction: column;
    height: auto;
  }
  
  .logo {
    margin-bottom: 20px;
  }
  .logo img {
  max-height: 90px;
}
  .nav-menu {
    margin-top: 20px;
  
  }
  
  .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  .nav-link {
    padding: 5px;
    font-size: 18px;
  }
}
/*NEED THIS LOL*/
@media only screen and (min-width:768px){
  .Welcome {
  width: 1000px;
  margin: 0 auto;
}
  .Welcome h2 {
  padding: 30px 0px 10px;
}
.Welcome p {
  padding: 0px 0px 10px;
}



  















  
}